DISCORD_BOT_TOKEN=
DISCORD_AUTHORIZED_USER_ID=
DISCORD_GUILD_ID=

AZURE_AI_FOUNDRY_ENDPOINT=
AZURE_AI_FOUNDRY_KEY=
AZURE_AI_FOUNDRY_API_VERSION=2024-10-21

COSMOS_DB_ENDPOINT=
COSMOS_DB_KEY=
COSMOS_DB_DATABASE=marco
COSMOS_DB_CONTAINER=conversation_memory
COSMOS_TASKS_CONTAINER=tasks
COSMOS_DIGEST_CONTAINER=news_digest

APPLICATIONINSIGHTS_CONNECTION_STRING=
NEWS_RSS_URL_TEMPLATE=https://news.google.com/rss/search?q={query}&hl=en-US&gl=US&ceid=US:en
DIGEST_TIMER_SCHEDULE=0 30 2 * * *
DIGEST_OPEN_TRACKING_BASE_URL=

PORT=8080
