DISCORD_BOT_TOKEN=
DISCORD_AUTHORIZED_USER_ID=

AZURE_AI_FOUNDRY_ENDPOINT=
AZURE_AI_FOUNDRY_KEY=
AZURE_AI_FOUNDRY_API_VERSION=2024-10-21

COSMOS_DB_ENDPOINT=
COSMOS_DB_KEY=
COSMOS_DB_DATABASE=marco
COSMOS_DB_CONTAINER=conversation_memory
COSMOS_TASKS_CONTAINER=tasks

PORT=8080
